/* reseta margin e padding de todos os elementos */
* {
    margin: 0;
    padding: 0;
}

body {
    /* fundo com gradiente */
    background: linear-gradient(180deg, rgb(105, 2, 146), rgb(6, 143, 143), rgb(6, 137, 141)) no-repeat;
    /* centraliza os itens na tela */
    display: grid;
    place-items: center;
    height: 100vh;
}

main {
    /* cor de fundo */
    background-color: white;
    display: flex;
    /* arredonda os cantos com 10px */
    border-radius: 10px;
}

.left-login, .right-login {
    width: 500px;
    border-radius: 10px;
}

.right-login {
    border-radius: 0 10px 10px 0;
}

.left-login {
    padding: 10px 0;
}

h1 {
    /* centraliza o texto */
    text-align: center;
    margin-bottom: 30px;
}

.name-student {
    color: whitesmoke;
}

p {
    margin: 15px 10px;
}

.input-email {
    background-color: rgb(94, 4, 94);
    display: flex;
    border-radius: 5px;
    margin: 5px 10px;
}

.input-email > input {
    background-color: rgb(62, 201, 206);
    height: 30px;
    width: 100%;
    /* remove a borda */
    border: none;
    border-radius: 5px;
    margin: 2px 2px 0 0;
}

.input-email > .icon-user {
    margin: 2px 5px 0 5px;
    color: white;
}

.input-password {
    background-color: rgb(94, 4, 94);
    display: flex;
    border-radius: 5px;
    margin: 5px 10px;
}

.input-password > input {
      background-color: rgb(62, 201, 206);
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 2px 2px 0 0;
}

.input-password > .icon-key {
    margin: 2px 5px 0 5px;
    color: white;
}

.btn-enter {
    background-color: rgb(50, 180, 137);
    color: white;
    /* remove a borda */
    border: none;
    outline: none;
    text-align: center;
    width: calc(100% - 20px);
     margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
}

/* muda o botão ao passar o mouse */
.btn-enter:hover {
    background-color: rgb(24, 121, 88);
}

.btn-forget-password {
    background-color: white;
    /* cor do texto */
    color: rgb(50, 180, 137);
    /* borda */
    border: 1px solid rgb(50, 180, 137);
    /* remove a linha de fora */
    outline: none;
    text-align: center;
    /* calcula a largura */
    width: calc(100% - 20px);
    margin: 5px 10px;
    padding: 10px;
    border-radius: 5px;
}

/* muda a cor ao passar o mouse */
.btn-forget-password:hover {
    background-color: rgb(62, 206, 182);
    /* cor do texto */
    color: white;
}

.social-media {
    display: flex;
    /* espaçamento dos itens  */
    justify-content: space-around;
    margin: 5px 0;
}

input {
    padding-left: 5px;
}

.social-media > .icon-facebook {
    color: blue;
}

.social-media > .icon-twitter {
    color: black;
}

.social-media > .icon-instagram {
    color: rgb(238, 84, 156);
}

.right-login {
    /* caminho para a imagem */
    background: url("img/ifpr_logo.jpeg") no-repeat;
    /* ajusta o tamanho da imagem */
    background-size: cover;
}
