:root {
    --cor: rgb(90, 80, 131);
    --cor-escura: rgb(70, 59, 112);
}
body {
    background-color: var(--cor);
    /* background-color: rgb(144, 109, 224); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.div-form {
    max-height: 580px;
}

form {
    width: 600px;
}

.btn-troca-form {
    background-color: var(--cor);
    color: #fff;
    padding: 10px;
    transition: .3s;
}

.btn-troca-form:hover {
    background-color: var(--cor-escura);
    color: #fff;
}

#resultados_ruas {
    height: 150px;
    overflow-y: auto;
}


#resultados_ruas li {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}