:root {
    --color1: #d61d1d;
    --color2: #ffffff;
    --color3: #ffffff;
    --color4: #ffffff;
}

body {
    background-color: var(--color3);
}

.nav-details {
    background-color: var(--color1);
}

.nav li a, .nav li a:hover {
    background-color: #fff;
    color: red;
    text-decoration: none;
    margin: 0 10px;
    padding: 15px 30px;
    border-radius: 10px;
}

.logo {
    width: 20%;
}

.btn {
    background-color: var(--color1);
    color: var(--color4) !important;
    box-shadow: 0 0 10px var(--color1);
    transition: background-color .5s;
}

.btn:hover {
    background-color: var(--color4);
    color: var(--color1) !important;
    transform: scale(1.05);
    color: var(--color1);
}

.title {
    color: #f00;
    font-size: 70px;
}

.title2 {
    color: #000;
    font-size: 70px;
    margin-top: -30px;
    margin-bottom: 30px;
}

.title3 {
    display: flex;
    flex-direction: column;
}

.description {
    color: #000;
    font-size: 20px;
}

.btn-icon {
    text-decoration: none;
    background-color: #f00;
    color: #fff;
    padding: 15px;
    transition: .5s;
}

.btn-icon:hover {
    background-color: #fff;
    color: #f00;
    padding: 12px;
    border: 3px solid #f00;
}

footer {
    background-color: var(--color1);
    color: var(--color4) !important;
}

